@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SCommerce.Web.Areas.Admin.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Produtos - Dashboard";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Produtos
            <small>Gestão de Produtos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            <li class="active">Produtos</li>
        </ol>
    </section>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.Count()</h3>
                        <p>Produtos Cadastrado</p>
                    </div>
                    <div class="icon">
                        <i class="ion-ios-box-outline"></i>
                    </div>
                    <a href='@Url.Action("Create","Produto")' class="small-box-footer">Adicionar Novo <i class="fa fa-plus"></i></a>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@Model.Where(x => x.ForaDeEstoque == false)?.Count()</h3>

                        <p>Produtos em Estoque</p>
                    </div>
                    <div class="icon">
                        <i class="ion-ios-cart"></i>
                    </div>
                    <a href="#" class="small-box-footer">Listar <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.Where(e => e.Ativo == true).Count()</h3>

                        <p>Produtos Ativo</p>
                    </div>
                    <div class="icon">
                        <i class="ion-android-checkmark-circle"></i>
                    </div>
                    <a href="#" class="small-box-footer">Listar Ativos <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@Model.Where(e => e.Ativo == false).Count()</h3>

                        <p>Produtos Inativo</p>
                    </div>
                    <div class="icon">
                        <i class="ion-ios-locked-outline"></i>
                    </div>
                    <a href="#" class="small-box-footer">Listar Inativos <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <div class="">
            <div class="box b-commerce-box">
                <div class="box-header">
                    <div class="row">
                    </div>
                </div>
                <div class="box-body">
                    <table id="table-produtos" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NomeExibicao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Disponivel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SomenteOnline)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ForaDeEstoque)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ativo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customizavel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProdutoDigital)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EAN13)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Preco)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrecoAtacado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Condicao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cadastro)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Atualizado)
                                </th>
                                <th style="width: 70px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeExibicao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Disponivel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SomenteOnline)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ForaDeEstoque)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ativo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customizavel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProdutoDigital)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EAN13)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Preco)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecoAtacado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Condicao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cadastro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Atualizado)
                                </td>
                                <td>
                                    <a href='@Url.Action("Edit", "Produto", new { idProduto = item.ID  })' class="mall-box-footers" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fa fa-edit"></i></a>
                                    <a href='@Url.Action("Details", "Produto", new { idProduto = item.ID })' class="mall-box-footers" data-toggle="tooltip" data-placement="top" title="Detalhes"><i class="fa fa-search"></i></a>
                                    <a href='@Url.Action("Delete", "Produto", new { idProduto = item.ID })' class="mall-box-footers"><i class="fa  fa-trash-o" data-toggle="tooltip" data-placement="top" title="Excluir"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NomeExibicao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Disponivel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SomenteOnline)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ForaDeEstoque)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ativo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customizavel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProdutoDigital)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EAN13)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Preco)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrecoAtacado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Condicao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cadastro)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Atualizado)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>




<!-- jQuery 3 -->
<script src="~/dashboard_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/dashboard_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/dashboard_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/dashboard_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
@*<script src="~/dashboard_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>*@
<!-- FastClick -->
@*<script src="~/dashboard_components/fastclick/lib/fastclick.js"></script>*@
<!-- AdminLTE App -->
@*<script src="~/dashboard_components/dist/js/adminlte.min.js"></script>*@
<!-- AdminLTE for demo purposes -->
@*<script src="~/dashboard_components/dist/js/demo.js"></script>*@
<!-- page script -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#table-produtos').DataTable({
            "scrollX": true
        });
    });
</script>


