@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SCommerce.Web.Areas.Admin.ViewModels.OCViewModel
@{

    ViewData["Title"] = "Detalhes da OC";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
    var status = "";
    var corOC = "";
    if (Model.OCStatus.Cancelado)
    {
        status = "CANCELADO";
        corOC = "#DF0101";
    }
    else if (Model.OCStatus.Entregado)
    {
        status = "ENTREGUE";
        corOC = "#40FF00";
    }
    else if (Model.OCStatus.Enviado)
    {
        status = "ENVIADO";
        corOC = "#FFFF00";
    }
    else if (Model.OCStatus.Faturado)
    {
        status = "FATURADO";
        corOC = "#0404B4";
    }
    else if (Model.OCStatus.Pago)
    {
        status = "PAGO";
        corOC = "#FF00BF";
    }
    else 
    {
        status = "EM ANDAMENTO";
        corOC = "#088A85";
    }
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Detalhes do Pedido
            <small>@Model.Referencia</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-action="Index"><i class="fa fa-home"></i>Dashboard</a></li>
            <li><a asp-action="Pedidos"><i class="fa fa-home"></i>Pedidos</a></li>
            <li class="active">Detalhes</li>
        </ol>
    </section>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model?.OCDetalhes.Count</h3>
                        <p>Produtos</p>
                    </div>
                    <div class="icon">
                        <i class="ion-android-settings"></i>
                    </div>
                    <a href='@Url.Action("AdicionarItens","Pedidos",new { idOC = Model.ID })' class="small-box-footer">Adicionar <i class="fa fa-plus"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        @{
                            Decimal total = 0;
                            foreach (var item in Model.OCDetalhes)
                            {
                                total += Decimal.Parse(item.Quantidade.ToString()) * item.Produto.Preco;
                            }
                            <h3>R$ @total</h3>

                        }
                        <p>Total</p>
                    </div>
                    <div class="icon">
                        <i class="ion-android-settings"></i>
                    </div>
                    <a href='#' class="small-box-footer">Desconto<p></p></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.OCMensagens.Count</h3>
                        <p>Mensagens</p>
                    </div>
                    <div class="icon">
                        <i class="ion-android-settings"></i>
                    </div>
                    <a href='@Url.Action("MensagensOC","Pedidos",new { idOC = Model.ID })' class="small-box-footer" target="_blank">Exibir <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box" style="background-color: @corOC">
                    <div class="inner">
                        <h3>@status</h3>
                        <p>STATUS</p>
                    </div>
                    <div class="icon">
                        <i class="ion-android-settings"></i>
                    </div>
                    <a href='@Url.Action("AlterarOC","Pedidos",new { idOC = Model.ID })' class="small-box-footer">Alterar <i class="fa fa-edit"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <div class="">
            <div class="box b-commerce-box">
                <div class="box-header">
                    <div class="row">
                    </div>
                </div>
                <div class="box-body">
                    <table id="table-propriedades" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Produto")
                                </th>
                                <th>
                                    @Html.DisplayName("Quantidade")
                                </th>
                                <th>
                                    @Html.DisplayName("Valor Unitário")
                                </th>
                                <th>
                                    @Html.DisplayName("Valor Total")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OCDetalhes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Produto.NomeExibicao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantidade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Produto.Preco)
                                    </td>
                                    <td>
                                        <p> R$ @(item.Produto.Preco * item.Quantidade)</p>

                                    </td>

                                    <td>
                                        <a href='@Url.Action("AlterarItemOC", "Pedidos", new { idOCDetalhes = item.ID  })' class="mall-box-footers tooltipped" data-position="bottom" data-tooltip="Valores da Propriedade" title="Editar"><i class="fa fa-edit"></i></a>
                                        <a href='@Url.Action("ExcluirItemOC", "Pedidos", new { idOCDetalhes = item.ID  })' class="mall-box-footers tooltipped" data-position="bottom" data-tooltip="Valores da Propriedade" title="Excluir"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayName("Produto")
                                </th>
                                <th>
                                    @Html.DisplayName("Quantidade")
                                </th>
                                <th>
                                    @Html.DisplayName("Valor Unitário")
                                </th>
                                <th>
                                    @Html.DisplayName("Valor Total")
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>




<!-- jQuery 3 -->
<script src="~/dashboard_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/dashboard_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/dashboard_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/dashboard_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#table-propriedades').DataTable();
    });
</script>




