@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SCommerce.Web.Areas.Admin.ViewModels.PropriedadeViewModel

@{
    ViewData["Title"] = "Excluir Propriedade " + Model.Nome;
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}


    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    @*<link rel="stylesheet" href="~/dashboard_components/bootstrap/dist/css/bootstrap.min.css">*@
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/dashboard_components/plugins/iCheck/all.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/dashboard_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/dashboard_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/dashboard_components/dist/css/AdminLTE.min.css">*@

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Propriedade
            <small>Excluir @Model.Nome</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-action="Index"><i class="fa fa-home"></i>Dashboard</a></li>
            <li class="active">Propriedades</li>
        </ol>
    </section>
    <section class="content">
        <div class="box b-commerce-box">
            <div class="box-header">
                <h4>O registro abaixo será excluído, continuar?</h4>
            </div>
            <div class="box-body">
                <form asp-controller="Propriedade" asp-action="Delete" method="post" role="form">
                    <input hidden asp-for="ID"/>
                    <div class="row">

                        <div class="col-sm-12 col-md-4">

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.IdPai)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.IdPai)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Descricao)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Customizavel)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Customizavel)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ValorUnico)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.ValorUnico)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-block btn-social">
                                    <i class="fa fa-trash-o white"></i> Excluir
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

    <!-- jQuery 3 -->
    <script src="~/dashboard_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/dashboard_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/dashboard_components/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    @*<script src="~/dashboard_components/fastclick/lib/fastclick.js"></script>*@
    <!-- AdminLTE App -->
    @*<script src="~/dashboard_components/dist/js/adminlte.min.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    <script src="~/dashboard_components/dist/js/demo.js"></script>

