@model SCommerce.Web.Areas.Admin.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClienteViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LojaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LojaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneroId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneroId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Senha1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Senha1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsLetter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsLetter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cadastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Atualizado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Atualizado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
