@model bCommerce.b2SalesFashion.ViewModels.DashboardCliente
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBSaleFashion.cshtml";
}

<link rel="stylesheet" href="~/css/chatOC.css" />
<link rel="stylesheet" href="~/fine-upload/fine-uploader-gallery.min.css" />

<style>
    button#btnUpload {
        margin-right: 35px;
        background-color: #f8f8f8;
        border: none;
    }

    i.fa.fa-paperclip {
        color: #05728f;
    }
    .modal-dialog {
        width: 80%;
    }
</style>

<hr />
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="~/images/user.png" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Model.Cliente?.Nome
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    @*<button type="button" class="btn btn-success btn-sm">Follow</button>
                        <button type="button" class="btn btn-danger btn-sm">Message</button>*@
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#perfil-usuario" role="tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-user"></i>
                                Perfil
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#carrinho" role="tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                Carrinho
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#pedidos" role="tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                Pedidos
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#mensagens" role="tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-envelope"></i>
                                Mensagens
                            </a>
                        </li>
                        @*<li role="presentation">
                                <a href="#compras" role="tab" data-toggle="tab">
                                    <i class="glyphicon glyphicon-usd"></i>
                                    Compras
                                </a>
                            </li>*@
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9 tab-content">
            <div class="tab-pane active" id="perfil-usuario" role="tabpanel">
                <div class="profile-content">
                    <div class="row">
                        <form asp-action="Alterar" asp-controller="Cliente" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Cliente.ID" hidden />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Cliente.Nome" class="control-label"></label>
                                        <input asp-for="Cliente.Nome" class="form-control" />
                                        <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Cliente.Email" class="control-label"></label>
                                        <input asp-for="Cliente.Email" class="form-control" />
                                        <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Cliente.Senha" class="control-label"></label>
                                        <input asp-for="Cliente.Senha" class="form-control" />
                                        <span asp-validation-for="Cliente.Senha" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Cliente.Senha1" class="control-label"></label>
                                        <input asp-for="Cliente.Senha1" class="form-control" />
                                        <span asp-validation-for="Cliente.Senha1" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="Cliente.NewsLetter" /> @Html.DisplayNameFor(model => model.Cliente.NewsLetter)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button type="submit" name="button" value="Salvar" class="btn btn-success btn-block btn-social">
                                            <i class="fa fa-save"></i> Alterar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
            <div class="tab-pane" id="carrinho" role="tabpanel">
                <div class="profile-content">
                    <div class="row">
                        @if (Model.Carrinho != null && Model.Carrinho.ID != Guid.Empty)
                        {
                            <div class="col-md-12">
                                <div class="chart-item table-responsive fix">
                                    <table class="col-md-12">
                                        <thead>
                                            <tr>
                                                <th class="th-product">Produto</th>
                                                <th class="th-details">Detalhes</th>
                                                <th class="th-price">Preço</th>
                                                <th class="th-total">Sub Total</th>
                                                <th class="th-qty">Quantidade</th>
                                                <th class="th-delate">Excluir</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model.Carrinho.CarrinhoProdutos)
                                                {
                                                    var base64 = Convert.ToBase64String(item.Produto?.imagensProduto?.FirstOrDefault()?.Arquivo);
                                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                    <tr>
                                                        <td class="th-product">
                                                            <a href='@Url.Action("Produto","Home", new { idProduto = item.IdProduto})'><img src="@imgSrc" alt="cart"></a>
                                                        </td>
                                                        <td class="th-details">
                                                            <h2><a href='@Url.Action("Produto","Home", new { idProduto = item.IdProduto})'>@item.Produto?.NomeExibicao</a></h2>
                                                            <p>@item.Produto?.DescricaoCurta</p>
                                                        </td>
                                                        <td class="th-price"><span id="valor_@item.ID">R$ @item.Produto.Preco</span></td>
                                                        <td class="th-total"><span id="subtotal_@item.ID">R$ @(item.Produto.Preco * item.Quantidade)</span></td>
                                                        <td class="th-qty">
                                                            <input type="number" min="1" placeholder="1" id="@item.ID" value="@item.Quantidade">
                                                            <a href='#' class="alterarQtdProduto" id="alterar_@item.ID"> <i class="fa fa-check"></i></a>
                                                        </td>
                                                        <td class="th-delate"><a href="#" class="excluirProduto" id="excluir_@item.ID"><i class="fa fa-trash"></i></a></td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th><h6><b>Valor Total: <span id="vlrTotalCarrinho"></span></b></h6></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="cart-button">
                                    <a asp-controller="Home" asp-action="Index"><button type="button" class="btn">Continuar Comprando</button></a>
                                    <a href='@Url.Action("GerarOC","Home",new { idCarrinho = Model.Carrinho.ID })'><button type="button" class="btn floatright">Concluir Pedido</button></a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12">
                                <div class="chart-item table-responsive fix">
                                    <table class="col-md-12">
                                        <thead>
                                            <tr>
                                                <th class="th-product">Produto</th>
                                                <th class="th-details">Detalhes</th>
                                                <th class="th-price">Preço</th>
                                                <th class="th-total">Sub Total</th>
                                                <th class="th-qty">Quantidade</th>
                                                <th class="th-delate">Excluir</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="cart-button">
                                    <a asp-controller="Home" asp-action="Index"><button type="button" class="btn">Iniciar Compras</button></a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="tab-pane" id="pedidos" role="tabpanel">
                <div class="profile-content">
                    <div class="row">
                        <h3 style="text-align: center">Pedidos Aberto</h3>
                        @if (Model.OCs != null)
                        {
                            <div class="col-md-12">
                                <div class="chart-item table-responsive fix">
                                    <table class="col-md-12">
                                        <thead>
                                            <tr>
                                                <th class="th-product">Referência</th>
                                                <th class="th-product">Data</th>
                                                <th class="th-details">Produtos</th>
                                                <th class="th-price">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model.OCs)
                                                {
                                                    <tr>
                                                        <td class="th-product">
                                                            <p>@item.Referencia</p>
                                                        </td>
                                                        <td class="th-product">
                                                            <p>@item.Atualizado.ToShortDateString()</p>
                                                        </td>
                                                        <td class="th-details">
                                                            <p>@item.OCDetalhes.Sum(x => x.Quantidade)</p>
                                                        </td>
                                                        <td class="th-price">
                                                            @{
                                                                Decimal total = 0;
                                                                foreach (var item2 in item.OCDetalhes)
                                                                {
                                                                    total += Decimal.Parse(item2.Quantidade.ToString()) * item2.Produto.Preco;
                                                                }
                                                                <p>R$ @total</p>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12">
                                <div class="chart-item table-responsive fix">
                                    <table class="col-md-12">
                                        <thead>
                                            <tr>
                                                <th class="th-product">Referência</th>
                                                <th class="th-product">Data</th>
                                                <th class="th-details">Produtos</th>
                                                <th class="th-price">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="tab-pane" id="mensagens" role="tabpanel">
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <h3 class=" text-center">Chat</h3>
                                <div class="messaging">
                                    <div class="inbox_msg">
                                        <div class="inbox_people col-md-4">
                                            <div class="headind_srch">
                                                <div class="recent_heading">
                                                    <h4>Pedido</h4>
                                                </div>
                                            </div>
                                            <div class="inbox_chat">
                                                <ul class="nav" role="tablist">
                                                    @if (Model.OCs != null)
                                                    {
                                                        foreach (var item in Model.OCs)
                                                        {
                                                            <li role="presentation">
                                                                <a href="#msg_@item.ID" role="tab" data-toggle="tab" class="msgsOC" id="@item.ID">
                                                                    <div class="chat_list active_chat">
                                                                        <div class="chat_people">
                                                                            <div class="chat_ib">
                                                                                <h5>Pedido: <b>@item.Referencia</b><span class="chat_date">@item.Atualizado.ToShortDateString()</span></h5>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>


                                                        }
                                                    }

                                                </ul>

                                            </div>
                                        </div>
                                        <div class="mesgs col-md-8">
                                            @if (Model.OCs != null)
                                            {
                                                <div class="tab-content">

                                                    @foreach (var item in Model.OCs)
                                                    {
                                                        <div role="tabpanel" class="msg_history tab-pane" id="msg_@item.ID">
                                                            <div id="historicomsg_@item.ID">
                                                                @if (item.OCMensagens != null)
                                                                {
                                                                    foreach (var mensagem in item.OCMensagens)
                                                                    {

                                                                        @if (mensagem.idEmitente == Model.Cliente.ID)
                                                                        {
                                                                            <div class="outgoing_msg">
                                                                                <div class="sent_msg">
                                                                                    @if (!String.IsNullOrEmpty(mensagem.Mensagem))
                                                                                    {
                                                                                        <p>
                                                                                            @mensagem.Mensagem
                                                                                        </p>
                                                                                    }

                                                                                    @if (mensagem.Anexos.Count > 0)
                                                                                    {
                                                                                        foreach (var anexo in mensagem.Anexos)
                                                                                        {
                                                                                            <a href='@Url.Action("BaixarAnexo","Home", new { idAnexo = anexo.ID})' title="Baixar Arquivo" target="_blank">@anexo.Nome  <i class="fas fa-file-download"></i></a>
                                                                                        }
                                                                                    }
                                                                                    <span class="time_date">
                                                                                        @mensagem.Data.ToShortTimeString()   |    @mensagem.Data.ToShortDateString()
                                                                                        @if (mensagem.Lida)
                                                                                        {
                                                                                            <i class="fa fa-check" style="color: cornflowerblue"></i>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <i class="fa fa-check"></i>
                                                                                        }
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="incoming_msg">
                                                                                <div class="received_msg">
                                                                                    <div class="received_withd_msg">
                                                                                        @if (!String.IsNullOrEmpty(mensagem.Mensagem))
                                                                                        {
                                                                                            <p>
                                                                                                @mensagem.Mensagem
                                                                                            </p>
                                                                                        }

                                                                                        @if (mensagem.Anexos.Count > 0)
                                                                                        {
                                                                                            foreach (var anexo in mensagem.Anexos)
                                                                                            {
                                                                                                <a href='@Url.Action("BaixarAnexo","Home", new { idAnexo = anexo.ID})' title="Baixar Arquivo" target="_blank">@anexo.Nome  <i class="fas fa-file-download"></i></a>
                                                                                            }
                                                                                        }
                                                                                        <span class="time_date">
                                                                                            @mensagem.Data.ToShortTimeString()   |    @mensagem.Data.ToShortDateString()
                                                                                            @if (mensagem.Lida)
                                                                                            {
                                                                                                <i class="fa fa-check" style="color: cornflowerblue"></i>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <i class="fa fa-check"></i>
                                                                                            }
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }

                                                                    }

                                                                }
                                                            </div>
                                                            <div class="type_msg" style="align-items: baseline">
                                                                <div class="input_msg_write">
                                                                    <input type="text" class="write_msg" placeholder="Digite a mensagem" id="txtmsg_@item.ID" />
                                                                    <button class="msg_send_btn btn-upload" type="button" id="btnUpload" title="Anexar arquivo" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
                                                                    <button class="msg_send_btn btn_enviar_msg" type="button" id="@item.ID|@item.IdCliente" title="Enviar mensagem"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                                                </div>
                                                            </div>



                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @*<div class="tab-pane" id="compras" role="tabpanel">
                        <div class="profile-content">
                            <h2>Compras</h2>
                        </div>
                    </div>*@
            </div>

        </div>
    </div>
</div>

<partial name="~/Views/Modal/UploadChat.cshtml" />

<!-- jquery-1.11.3.min js
        ============================================ -->
<script src="~/b-sale_ecommerce_fashion/js/vendor/jquery-1.11.3.min.js"></script>

<!-- bootstrap js
============================================ -->
<script src="~/b-sale_ecommerce_fashion/js/bootstrap.min.js"></script>

<script type="text/javascript" src="~/js/Chat.js"></script>
<script type="text/javascript" src="~/js/Carrinho.js"></script>

